{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<h2>find body</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
<hr>
{% if datas !=null %}
<ul>
{% for data in datas %}
<li>{{data.name}}({{data.age}})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}