{% extends 'base.html.twig' %}

{% block body %}
{% for i in app.flashes('info-mail') %}
<div style='color:#ff0000;'>{{i}}</div>
{% endfor %}
<h2>{{msg}}</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}