{% extends 'base.html.twig' %}

{% block page %}
{{title}}
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<h2>Person一覧</h2>
<table>
<tr>
<th>id</th>
<th>name</th>
<th>mail</th>
<th>age</th>
</tr>
{% for person in persons %}
<tr>
<td>{{person.id}}</td>
<td>{{person.name}}</td>
<td>{{person.mail}}</td>
<td>{{person.age}}</td>
<td>
<ul>
{% for message in person.messages %}
<li>{{message.content}}</li>
{% endfor %}
</ul>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
