{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as m %}

{% block page %}{{title}}
{% endblock %}
{% block title %}
    {{title}}
{% endblock %}

{% block body %}
includeを使ったテンプレート
{% include '/hello/table.html.twig' with [arrays] %}
    {% set price = 810 %}
    {% set number = 114514 %}
    {% set flag = true %}
    {% if flag %}
        {% for i in arrays %}
            <ul>
                <li>{{i.name1}}</li>
                <li>{{i.name2}}</li>
                <li>{{i.name3}}</li>
            </ul>
        {% endfor %}
        {{price}}円
        {{number}}個
        {{message}}
    {% endif %}
    {% endblock %}  