<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        タイトル:{{title}}
        名前:{{name}}
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}

    </body>
</html>